<!DOCTYPE html>
<html>
<title>PSU TRAVEL</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <a href="#home" class="w3-bar-item w3-button">HOME</a>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="#about" class="w3-bar-item w3-button">Travel</a>
      <a href="#contact" class="w3-bar-item w3-button">Contact</a>
    </div>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
  <img class="w3-image" src="https://scontent.fhdy3-1.fna.fbcdn.net/v/t1.0-9/149374270_2830927687170781_1627671868676270169_n.jpg?_nc_cat=103&ccb=3&_nc_sid=730e14&_nc_eui2=AeH7ZIdmOaEncSKXJE91WMX-2j7dqHQbYCHaPt2odBtgIcDyArgvlvJjMxCKAiy5XKa8fpLGeO9kstMc7KNn8EmT&_nc_ohc=CmaY7RZwg98AX9whz-L&_nc_oc=AQnSKFukvUTUxf6eYYb4xXn00OUJfAnM6_M4siL2B-4uX70MXewWsnrx_cnyyBWfxG0&_nc_ht=scontent.fhdy3-1.fna&oh=366d2871f45276138e29a818ac17c45b&oe=604BF33B" alt="Hamburger Catering" width="1600" height="800">
  <div class="w3-display-bottomleft w3-padding-large w3-opacity"></div>
  </div>
</header>

<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="https://scontent.fhdy3-1.fna.fbcdn.net/v/t1.0-9/149546513_2830932170503666_3365142594240878315_n.jpg?_nc_cat=100&ccb=3&_nc_sid=730e14&_nc_eui2=AeF-cBrNpXGzlvyz5lkVDhcIHKefMFCGtyccp58wUIa3J1ZOoyJfxHcg-PGEYTvvKiM2pHV92SXF_VyvdZinuj8J&_nc_ohc=t2PFlUbfJZwAX-fsgO8&_nc_ht=scontent.fhdy3-1.fna&oh=4ad2dd5c39eca6a30969070191f60f35&oe=604C2CA6" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
    </div>
    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">คำขวัญประจำจังหวัด</h1><br>
      <h5 class="w3-center">ผลไม้รสล้ำ อุตสาหกรรมก้าวหน้า น้ำปลารสเด็ด เกาะเสม็ดสวยหรู สุนทรภู่กวีเอก</h5>
      <p class="w3-large">ระยอง เป็นจังหวัดหนึ่งในภาคตะวันออกของประเทศไทย เป็นจังหวัดที่มีรายได้ประชากรต่อหัวสูงที่สุดในประเทศ และผลิตภัณฑ์มวลรวมจังหวัดอยู่ในอันดับ 2 ของประเทศไทย เป็นเมืองท่องเที่ยวที่มีแหล่งท่องเที่ยวที่มีชื่อเสียงมากมาย และเป็นเมืองที่มีความสำคัญทางเศรษฐกิจเป็นอย่างมาก ทั้งทางด้านอุตสาหกรรม การท่องเที่ยว และการเกษตรกร</p>
      <p class="w3-large w3-text-grey w3-hide-medium">อ่านต่อ >></p>
    </div>

    <div class="w3-col m6 w3-padding-large w3-hide-small">
      <img src="https://scontent.fhdy3-1.fna.fbcdn.net/v/t1.0-9/148200634_2830932457170304_6117361382673581429_o.jpg?_nc_cat=101&ccb=3&_nc_sid=730e14&_nc_eui2=AeFiJoBIjieuqZ1R8YBYZzXKbuCoWn0fUsVu4KhafR9SxUaYmYkLrM9MwQRHmo75CM-JAMNLPg9qCdzxhF-f5qsf&_nc_ohc=qjCeLQrBQEoAX-c9K1o&_nc_ht=scontent.fhdy3-1.fna&oh=e4c9feee0c2afe974ba14469f963aec8&oe=604E4FB6" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
    </div>
    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">คำขวัญประจำจังหวัด</h1><br>
      <h5 class="w3-center">ถิ่นหอยเก่า เขาตระหง่าน ธารสวย รวยเกาะ เพาะปลูกปาล์ม งามหาดทราย ใต้ทะเลสวยสด มรกตอันดามัน สวรรค์เกาะพีพี</h5>
      <p class="w3-large">กระบี่ เป็นจังหวัดหนึ่งในภาคใต้ของประเทศไทย เป็นเมืองท่องเที่ยวที่มีชื่อเสียงแห่งหนึ่งของภาคใต้ มีแหล่งท่องเที่ยวหลายแห่ง เช่น หาดทรายขาว น้ำทะเลใส ปะการัง ถ้ำ และหมู่เกาะน้อยใหญ่กว่า 100 เกาะ และเป็นที่ตั้งของเรือนรับรองที่ประทับแหลมหางนาค</p>
      <p class="w3-large w3-text-grey w3-hide-medium">อ่านต่อ >></p>
    </div>

    <div class="w3-col m6 w3-padding-large w3-hide-small">
      <img src="https://scontent.fhdy3-1.fna.fbcdn.net/v/t1.0-9/148336487_2830932450503638_5754407252021306298_o.jpg?_nc_cat=102&ccb=3&_nc_sid=730e14&_nc_eui2=AeGGeqjm1Qt42bJCqo0eyrrAgd0KIuKuW02B3Qoi4q5bTe9lwjuotEgIhTzIOtYqVzLxX4jAdRO8Ex4g-u_8rr5H&_nc_ohc=8DuCOzjT_YwAX9QmgWl&_nc_oc=AQlndpREUm5VD0-V93bNmKO5KEfFj3xVr3hDuZJ2y7ZeZCVJgjNjOqfI0dSbKcRDq9I&_nc_ht=scontent.fhdy3-1.fna&oh=5038a2dc40474ab7b8b901855d804fae&oe=604E52F4" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
    </div>
    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">คำขวัญประจำจังหวัด</h1><br>
      <h5 class="w3-center">ไข่มุกอันดามัน สวรรค์เมืองใต้ หาดทรายสีทอง สองวีรสตรี บารมีหลวงพ่อแช่ม</h5>
      <p class="w3-large">ภูเก็ต เป็นจังหวัดหนึ่งทางภาคใต้ของประเทศไทย และเป็นเกาะขนาดใหญ่ที่สุดในประเทศไทย อยู่ในทะเลอันดามัน จังหวัดที่ใกล้เคียงทางทิศเหนือ คือ จังหวัดพังงา ทางทิศตะวันออก คือ จังหวัดพังงาและจังหวัดกระบี่ ทั้งเกาะล้อมรอบด้วยมหาสมุทรอินเดีย และยังมีเกาะที่อยู่ในอาณาเขตของจังหวัดภูเก็ตทางทิศใต้และตะวันออก </p>
      <p class="w3-large w3-text-grey w3-hide-medium">อ่านต่อ >></p>
    </div>

  </div>
  
  <hr>
  <!-- Contact Section -->
  <div class="w3-container w3-padding-64" id="contact">
    <h1>Contact</h1>
    <p>PATCHARAPOL JINGJIT <br> 6110110311 <br> 3SB04: Django </p>
  </div>
  
<!-- End page content -->
</div>

<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-32">
  <p> PATCHARAPOL JINGJIT 6110110311</p>
</footer>

</body>
</html>